.producto-card {
  background: #e9f5ff;
  border-radius: 14px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.16);
  padding: 1rem;
  text-align: center;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 280px;
  cursor: pointer;
}

.producto-card:hover {
  transform: translateY(-6px) scale(1.02);
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}

/* Imagen */
.producto-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 0.6rem;
  margin-bottom: 0.8rem;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.07);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.producto-card img:hover {
  transform: scale(1.03);
  box-shadow: 0px 6px 16px rgba(0,0,0,0.14);
}

/* Nombre del producto */
.producto-card h3 {
  font-size: 0.99rem;
  font-weight: 500;
  margin: 0.3rem 0;
  line-height: 1.2;
  min-height: 2.6em; 
  color: #000;
}

/* Precio */
.producto-precio {
  font-weight: bold;
  color: #004080;
  margin: 0.4rem 0;
  font-size: 1rem;
}

/* Botón añadir */
.btn-add {
  margin-top: auto;
  background: #01538D;
  color: white;
  padding: 7px 12px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: 500;
  transition: background 0.3s, transform 0.3s ease;
}

.btn-add:hover {
  background: #002b59;
  transform: scale(1.05);
}

/* Mobile */
@media (max-width: 900px) {
  .producto-card {
    max-width: 500px;
    min-height: 200px;
    padding: 0.8rem;
    border-radius: 20px;
  }

  .producto-card img {
    height: 100px;
  }

  .producto-card h3 {
    font-size: 0.90rem;
  }

  .producto-precio {
    font-size: 0.9rem;
  }

  .btn-add {
    font-size: 0.80rem;
    padding: 8px 10px;
  }
}

/* Desktop amplio */
@media (min-width: 1100px) {
  .producto-card {
    width: 260px;
    min-height: 280px;
  }

  .producto-card img {
    height: 160px;
  }
}
