.admin-qr-container {
    padding: 24px;
    margin-top: 50px;
}

.admin-qr-titulo {
    font-size: 1.5rem;
    color: #01538D;
    text-align: center;
}


.admin-qr-form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
}

.admin-qr-input {
    padding: 10px 14px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 1rem;
    width: 100%;
    max-width: 400px;
    margin-top: 20px;
}

.admin-qr-boton {
    background-color: #01538D;
    color: white;
    border: none;
    padding: 10px 14px;
    border-radius: 30px;
    cursor: pointer;
    font-weight: 500;
    width: 100%;
    max-width: 200px;
}

.admin-qr-boton:hover {
    background-color: #013c6a;
}

.admin-qr-mensaje {
    margin-top: 15px;
    font-weight: bold;
    text-align: center;
}

.admin-qr-mensaje.error {
    color: #d32f2f;
}

.admin-qr-mensaje.info {
    color: #01538D;
}

.admin-qr-mensaje.success {
    color: #2e7d32;
}


/* Tablet styles */
@media (min-width: 768px) and (max-width: 1023px) {
    .admin-qr-container {
        margin-top: 30px;
    }

    .admin-qr-titulo {
        font-size: 1.8rem;
    }

    .admin-qr-boton {
        width: 50%;
    }


}

/* Desktop styles */
@media (min-width: 1024px) {
    .admin-qr-container {
        margin-top: 0;
    }

    .admin-qr-titulo {
        font-size: 1.8rem;
    }

    .admin-qr-boton {
        width: 50%;
    }


}