.contact-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin-top: 3.125rem;
    margin-bottom: 1rem;
    padding: 1rem 2rem;
    box-sizing: border-box;
}

.contact-container main {
    flex: 1;
}


.contact-header {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    color: #004080;
}

.contact-header h2 {
    font-size: 1.375rem;
    margin: 0;
    font-weight: 700;
    color: #004080;
}

.back-button {
    background: none;
    border: none;
    cursor: pointer;
    color: #004080;
    padding: 0;
    display: flex;
    align-items: center;
}

.whatsapp-wrapper {
    display: flex;
    justify-content: center;
    margin: 1.5rem 0;
}

.whatsapp-button {
    align-items: center;
    background-color: #25d366;
    color: white;
    padding: 0.75rem 1.5rem;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
}

.whatsapp-button:hover {
    background-color: #1ebe5d;
    transform: scale(1.05);
}

.whatsapp-button svg {
    vertical-align: middle;
}

.contact-container section {
    margin-top: 2rem;
    padding: 1rem;
    border-left: 4px solid #01538D;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

section h3 {
    margin-bottom: 0.5rem;
}

iframe {
    width: 100%;
    height: 300px;
    border: none;
    border-radius: 8px;
    margin-top: 1rem;
}


@media screen and (min-width: 1024px) {
    .contact-header {
        position: absolute;
        top: 4.9rem;
        left: 1.4rem;
        margin: 0;
        font-weight: 700;
    }

    .back-button {
        background: none;
        border: none;
        cursor: pointer;
        font-size: 1.9rem;
        color: #004080;
        padding: 0;
        display: flex;
        align-items: center;
    }

    .contact-container h2 {
        font-size: 1.8rem;
    }
}