.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 3.125rem;
  background-color: #01538D;
  z-index: 1000;
}


.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0 0.5rem;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

}

.logo img {
  display: block;
  height: 2.5rem;
  width: auto;
  object-fit: contain;
}

.search-box input {
  width: 100%;
  height: 1.75rem;
  padding: 0.25rem 0.75rem;
  font-size: 0.9375rem;
  border-radius: 50px;
  border: 1px solid white;
  box-sizing: border-box;
}

.cart-icon,
.menu-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  cursor: pointer;
}

.nav-icon-cart {
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
  vertical-align: middle
}

.nav-elements {
  position: absolute;
  top: 3.125rem;
  right: 0;
  width: 0;
  height: calc(100vh - 3.125rem);
  background-color: white;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.nav-elements.active {
  width: 100%;
}

.nav-elements ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0 1rem;
}

.nav-elements ul li {
  margin-top: 1.25rem;
}

.nav-elements ul li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
  font-size: 1rem;
  font-weight: 700;
  gap: 10px;
}

.nav-icon {
  font-size: 1.2rem;
  vertical-align: middle;
}

.cart-count {
  color: white;
  font-size: 0.75rem;
  font-weight: bold;
}

/* Mobile */
@media (max-width: 767px) {
  .logo-text {
    display: none;
  }

  .desktop-nav {
    display: none;
  }

  .search-box input {
    width: 99%;
  }

  .nav-container {
    justify-content: space-between;
    gap: 0.2rem;
  }
}


/* Desktop*/
@media (min-width: 1024px) {

  .nav-elements,
  .menu-icon,
  .cart-icon {
    display: none;
  }

  .navbar {
    height: 3.5rem;
  }

  .logo img {
    height: 2.9rem;
  }

  .logo-text {
    color: white
  }

  .search-box input {
    width: 350px;
  }

  .desktop-nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 3rem;
  }

  .desktop-nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
  }

  .right-links,
  .right-icons {
    display: flex;
    align-items: center;
    gap: 3rem;
  }

  .right-links li,
  .right-icons li {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .right-links li a {
    color: white;
    text-decoration: none;
    font-weight: 600;
  }

  .right-icons li {
    position: relative;
    cursor: pointer;
    color: white;
    font-size: 1.5rem;
  }

  .right-links li a:hover,
  .right-links li a.active {
    color: #539fd5;
  }

  .profile-desktop {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding-right: 0.5rem;
  }

  .dropdown-arrow {
    font-size: 0.8rem;
    color: white;
  }

  .dropdown {
    position: absolute;
    top: 2.49rem;
    right: 0;
    background: white;
    box-shadow: 0px 2px 8px rgba(1, 83, 141, 0.4);
    width: max-content;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 0;
  }

  .dropdown li {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .dropdown li a {
    color: black;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    line-height: 1.2;
    width: 100%;
  }

  .nav-icon {
    font-size: 1.2rem;
  }

  .profile-desktop.active .nav-icon,
  .profile-desktop.active .dropdown-arrow {
    color: #1b77b8;
  }

}

/* Tablet */
@media (min-width: 768px) and (max-width: 1023px) {

  .logo-text {
    display: none;
  }

  .search-box input {
    width: 240px;
  }

  .desktop-nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1.5rem;
  }

  .desktop-nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
  }

  .right-links,
  .right-icons {
    display: flex;
    align-items: center;
    gap: 1.5rem;
  }


  .right-links li a {
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: 0.95rem;
  }

  .right-icons li {
    position: relative;
    cursor: pointer;
    color: white;
    font-size: 1.2rem;
  }

  .dropdown-arrow {
    font-size: 0.8rem;
    color: white;
  }

  .dropdown {
    position: absolute;
    top: 2.49rem;
    right: 0;
    background: white;
    box-shadow: 0px 2px 8px rgba(1, 83, 141, 0.4);
    width: max-content;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 0;
  }

  .dropdown li {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .dropdown li a {
    color: black;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    line-height: 1.2;
    width: 100%;
  }

  .nav-icon {
    font-size: 1.2rem;
  }

  .profile-desktop.active .nav-icon,
  .profile-desktop.active .dropdown-arrow {
    color: #1b77b8;
  }

  .nav-container {
    gap: 0.5rem;
    flex-wrap: nowrap;
  }

  .menu-icon,
  .nav-elements,
  .mobile-cart {
    display: none;
  }
}